<div class="row justify-content-center home__container">
    <div class="col-10">
        <div class="row">
            <div class="col-5">
                <img src="https://crowdsourcer.io/assets/images/no-img.png" alt="" class="img-fluid home__image">
            </div>
            <div class="col-7">
                <div class="home__info">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">name</h5>
                            <p class="card-text">Text about me.</p>
                            <p class="card-text">Some quick example.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                <form [formGroup]="newPost" (ngSubmit)="onCreatePost()">
                    <legend>New Post</legend>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputFile">Upload image</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputFile" aria-describedby="inputFile"
                                accept="image/*"  (change)="uploadFile($event)">
                            <label class="custom-file-label" for="inputFile" #imageLabel>Choose image</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="posttext" rows="3" formControlName="text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success float-right" [disabled]="newPost.invalid">Create</button>
                </form>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <div class="col-10">
                <app-post *ngFor="let post of posts" [post]="post" (deletePost)="onDeletePost($event)"></app-post>
            </div>
        </div>
    </div>
</div>