.post {
    margin-top: 10px;

    border: 1px solid #bbbbbb;

    // max-height: 50vh;

    &__image {
        max-height: 40vh;
        max-width: 100%;
    }

    &__likes {
        padding: 10px;
    }

    &__like{
        margin-left:5px;
    }

    &__image-wrapper {
        text-align: center;
    }

    &__remove-btn {
        position: absolute;
        top: 3px;
        right: 3px;
        border-radius: 50%;
        font-size: 20px;
        width: 30px;
        height: 30px;
        padding: 0px;
        line-height: 0;
        z-index: 10;
    }
}