<div class="row post">
    <div class="col-12">
        <button *ngIf="canDelete" class="btn btn-danger post__remove-btn" (click)="onDeletePost()">X</button>
        <div class="post__image-wrapper">
            <img *ngIf="post.mediaUrl" class="post__image" src="{{ post.mediaUrl }}" alt="{{ post.text }}">
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.text }}</p>
            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
        <div class="post__likes">
            <button type="button" class="btn post__like" (click)="onLike()"
                [ngClass]="{ 'btn-outline-success': !isLiked(),'btn-success': isLiked()}">Likes:
                {{ post.likes }}</button>
            <button type="button" class="btn post__like" (click)="onDislike()"
                [ngClass]="{ 'btn-outline-danger': !isDisliked(),'btn-danger': isDisliked()}">Dislikes:
                {{ post.dislikes }}</button>
        </div>
    </div>
    <div class="col-12">
        <div class="card comment" *ngFor="let comment of getComments()">
            <h6 class="card-header comment__header">{{ comment.firstname }} {{ comment.lastname }}
                <button *ngIf="canDelete" class="btn btn-outline-danger comment__remove-btn" (click)="onDeleteComment(comment)">X</button>
            </h6>
            <div class="card-body">
                <p class="card-text">{{ comment.text }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 comment__add-comment">
        <input type="text" class="form-control comment__write-comment" placeholder="comment" #commentInput>
        <button type="submit" class="btn btn-success float-right" (click)="onCreateComment()">Add comment</button>
    </div>
</div>